<div class="week-header">
    <%= render "bookings/bookings_header"%>
</div>
<div class="week-days-container">
    <% @days.each do |day|%>
        <%= render 'bookings/bookings_days', day: day %>
    <% end %>
</div>