@import "system_variables.scss";
.login-container{
    margin-top: 15%;
    max-width: 20% !important;
    padding: 10px;

    border-radius: 5%;
    background-color: $color_04;
    color: $color_01;

}

a{
    color: $color_01 !important;

    &:active{
        color: $color_01 !important;
    }
    &:hover{
        color: $color_03!important;
    }
}

