
<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <%= current_user.email%>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><%= link_to "Sair", destroy_user_session_path, class:"dropdown-item", data:{ turbo_method: :delete}, id: "logout_link" %></li>
        </ul>
    </li>
    </ul>    
</nav>
<div class="container">
    <%= yield %>
</div>
